body{
    font-family: font-family: 'Poppins', sans-serif;;
    margin: 0%;
}
h1{
    font-size: 60px;
    margin: 0%;
}
.first-color{
    color: purple;
}
.display-container{
    display: flex;
    padding-left: 40px;
    margin: 30px;
}
.half-width{
    width: 50%;
    margin-top: 10%;
}
.half-width img{
    width: 90%;
}
.order-dish{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(blue,purple);
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 30px;
    
}
h2{
    font-size: 40px;
    margin-top: 60px;
}
.middle-banner{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.padding-top{
    padding-top: 30px;
}
p{
    font-size: 15px; 
}
.middle-text{
    text-align: center;
    margin: 0%;
    font-weight: 700;
}
.recipes{
    text-align: center;
    margin: 2%;
}
.biriyani-area{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
}
.space{
    padding-bottom: 90px;
}
.img-padding{
    padding: 2px;
    margin: 10px;
}
.position1{
    padding-right: 270px;
}
.position2{
    padding-right: 150px;
}
.position3{
    padding-left: 120px;
}
.followers-area{
    width: 73%;
    margin-left: 10%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
}
.footer-banner{
    width: 83%;
    background-color: black;
    margin-left: 10%;
    margin-top: 10px;
    padding-bottom: 5%;
    color: black;
}
.font-sixe{
    color: white;

}
.orange-color{
    color: orange;
}
.gray-color{
    color: gray;
}
