body{
    font-family: font-family: 'Poppins', sans-serif;;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.first-color{
    color: purple;
}
.display-container{
    display: flex;
    padding-left: 40px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.order-dish{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(blue,skyblue);
    padding: 10px 10px;
    border-radius: 15px;
    
}
